<div class="rr-controls-panel">
  <div class="rr-sort-panel">
    <button class="rr-sort-button" data-test-rr="sort-by-rating-desc" onclick={{action (mut sortBy) "ratingDesc"}}>
      Rating
      {{fa-icon "angle-down"}}
    </button>
    <button class="rr-sort-button" data-test-rr="sort-by-rating-asc" onclick={{action (mut sortBy) "ratingAsc"}}>
      Rating
      {{fa-icon "angle-up"}}
    </button>
    <button class="rr-sort-button" data-test-rr="sort-by-title-desc" onclick={{action (mut sortBy) "titleDesc"}}>
      Title
      {{fa-icon "angle-down"}}
    </button>
    <button class="rr-sort-button" data-test-rr="sort-by-title-asc" onclick={{action (mut sortBy) "titleAsc"}}>
      Title
      {{fa-icon "angle-up"}}
    </button>
  </div>
</div>
<ul class="rr-list">
  {{#each sortedSongs as |song|}}
    <li class="rr-list-item" data-test-rr="song-list-item">
      {{song.title}} 
      <StarRating 
          class="fr" 
          @rating={{song.rating}} 
          @onClick={{action "updateRating" song}}
      />
    </li>
  {{else}}
    <li>
      No {{model.name}} songs yet. Why don't you <a href="#" onclick={{action "addSong"}}> create one?</a>
    </li>
  {{/each}}
</ul>
<div class="rr-new-label">
  {{#if isAddingSong}}
    <form 
        class="rr-inline-form"
        onsubmit={{action "saveSong"}}
        data-test-rr="new-song-form"
    >
      {{input
        type="text"
        class="rr-input"
        value=newSongTitle
        placeholder="New song"
        data-test-rr="new-song-form"
      }}
      <button
        type="submit"
        class="rr-action-button"
        disabled={{isAddButtonDisabled}}
        data-test-rr="new-song-button"
      >
        Add
      </button>
      <button
          class="rr-cancel-icon"
          onclick={{action "cancelAddSong"}}
      >
        {{fa-icon "times"}}
      </button>
    </form>
  {{else}}
    <label onclick={{action "addSong"}} data-test-rr="new-song-label">
      {{fa-icon "plus"}}
      <span class="ml1">Add new song</span>
    </label>
  {{/if}}
</div>